toDo_reactNative/.gitignore

reactNative_firstSteps_react/.gitignore

cBasics/*.out
cBasics/**/*.out
cBasics/*.dSYM
cBasics/**/*.dSYM

dataStructuresAndAlgos/.gitignore

advancedCSSandSass/advanced-css-course

**/node_modules
**/.next
**/.env
**/.env.local
**/.env
**/coverage
**/build
**/dist
