*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #0f3057;
  color: #e7e7de;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 50%;
  width: 750px;
  align-items: center;
  flex-direction: column;
}

.container button{
  margin: 5px;
  background-color: #e7e7de;
  cursor: pointer;
  color: #00587a;
  font-family: 'Roboto', sans-serif;
  font-size: 900;
  border: none;
  width: 45%;
  height: 30px;
  top: 50%;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 2px 0px #008891;
}

.buttons{
  margin: 0;
  padding: 0;
  align-content: center;
  width: 50%;
  height: 50px;

}

.start{
  margin: 5px 0 0 0;
  padding: 0;
  align-content: center;
  width: 50%;
  height: 50px;
}