.card {
    perspective: 150rem;

    &__side {
        background-color: red;
        height: 50rem;
        transition: all .5s ease;
    }


    

    &:hover &__side {
        transform: rotateY(180deg);
    }

}